@import '../../../styles/colors';
@import '../../../styles/vars';

.dropdown {
  margin-left: $size-1x;
  width: 180px;
}

.metricIcon {
  margin-right: $size-1x;

  circle,
  path {
    fill: $color-7;
  }
}

.btn {
  align-items: center;
  background-color: $color-7;
  border: 0;
  border-radius: 20px;
  color: $white;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  line-height: 8px;
  outline: 0;
  padding: 3px 8px 3px 4px;
}

.metricIconBtn {
  margin-right: $size-1x;

  circle,
  path {
    fill: $white;
  }
}
