@import '../../../styles/colors';
@import '../../../styles/vars';

.trial {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  margin-top: $size-6x;
  width: 100%;
}

.h3 {
  align-items: center;
  color: $color-5;
  display: flex;
  font-size: 18px;
  width: 100%;

  path {
    fill: $color-6;
  }
}

.titleIcon {
  margin-right: $size-1x;
}

.bestIcon {
  margin-left: $size-1x;

  path {
    fill: $color-7;
  }
}

.metrics {
  width: 250px;
}

.parameters {
  flex: 1;
  padding-left: $size-4x;
}

.paramList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.parameterWrapper {
  width: 32%;

  &:nth-child(3n - 1) {
    margin-left: 2%;
  }

  &:nth-child(3n) {
    margin-left: 2%;
  }
}

.capitalize {
  text-transform: uppercase;
}

.icon {
  color: $cr-pink;
  font-size: 24px;
  margin-left: $size-1x;
}

.close {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: 0;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 10px;
}

.indicatorPink {
  color: $cr-pink !important; // sass-lint:disable-line no-important
}

.labels {
  background-color: $bg-light;
  padding: $size-2x;
  margin: $size-1x $size-2x 0;
  width: 100%;
}
