@import '../../../styles/colors';
@import '../../../styles/vars';

.rangeIndicator {
  display: block;
  line-height: 12px;
  padding-top: 10px;
  position: relative;
}

.bar {
  background-color: $gray;
  display: block;
  height: 3px;
  width: 100%;
}

.labels {
  color: $gray;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  justify-content: space-between;
  margin-top: 4px;
}

.icon {
  color: $cr-green;
  font-size: 32px;
  position: absolute;
  top: -10px;
}
