@import '../../../styles/colors';
@import '../../../styles/vars';
@import '../../../styles/mixins';

.rangeIndicator {
  display: block;
  line-height: 12px;
  padding-top: 10px;
  position: relative;
}

.bar {
  background-color: $color-2;
  display: block;
  height: 10px;
  width: 100%;
}

.indicator {
  @include transition('width');
  background-color: $color-3;
  display: block;
  height: 10px;
  width: 0;
}

.labels {
  color: $gray;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  justify-content: space-between;
  margin-top: 4px;
}
