@import '../../../styles/colors';
@import '../../../styles/vars';

.expDetails {
  color: $cr-navy;
  display: block;
  padding: $size-6x;
}

.h1 {
  font-size: 18px;
  margin-bottom: $size-4x;
}

.status {
  margin-bottom: $size-4x;
}
