@import '../../../styles/colors';
@import '../../../styles/vars';

.expDetails {
  color: $cr-navy;
  display: block;
  padding: $size-6x;
  padding-bottom: 200px;
}

.h1 {
  align-items: center;
  color: $color-6;
  display: flex;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: $size-4x;
  text-transform: uppercase;
}

.h2 {
  align-items: center;
  display: flex;
  font-size: 16px;
  margin-bottom: $size-2x;
}

.status {
  margin-bottom: $size-4x;
}

.labelInner {
  display: flex;
  flex-direction: row;
}

.label {
  align-items: center;
  background-color: $white;
  border: 1px solid $gray;
  border-radius: 20px;
  display: flex;
  outline: 0;
  padding: $size-1x $size-2x;
  margin: 0 $size-1x $size-2x 0;
}

.checkbox {
  font-size: 16px;
  margin-right: $size-1x;
}

.noExp {
  align-items: center;
  display: flex;
  height: calc(100vh - #{$header-height});
  justify-content: center;
  min-width: 1280px;
  width: 100%;
}

.noExpArrow {
  margin-right: $size-2x;
}

.noExpTitle {
  color: $color-8;
  text-align: center;
}

.noExpSubTitle {
  color: $color-8;
  font-size: 18px;
  margin-bottom: $size-6x;
  text-align: center;
}
