@import '../../styles/colors';
@import '../../styles/vars';

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

.trials {
  display: block;
  padding: $size-4x 0;
  background-color: $white;
  width: 100%;

  :global(.domain) {
    stroke: $color-8;
    stroke-width: 4px;
  }

  :global(.tick) {
    line {
      stroke: $gray-light;
    }
  }
}

.circle {
  cursor: pointer;
  fill: $color-9;
}

.triangle {
  cursor: pointer;
  fill: $color-9;
}

:global(.point) {
  &.best {
    .circle {
      fill: $color-7;
    }

    .triangle {
      fill: $color-7;
    }
  }
}

:global(.baseline) {
  .circle {
    fill: rgba($color-9, 0);
  }

  &.best {
    .circle {
      fill: rgba($color-9, 0);
    }
  }
}

.grid {
  line {
    stroke: $gray-light;

  }

  path {
    &:first-child {
      display: none;
    }
  }
}

.gridX {
  line {
    stroke: $gray-light;
  }

  path {
    &:first-child {
      display: none;
    }
  }

  :global(.tick) {
    &:first-of-type {
      display: none;
    }
  }
}

.popup {
  text {
    fill: $cr-green;
  }

  &.best {
    text {
      fill: $cr-pink;
    }

    .popupRect {
      stroke: $cr-pink;
    }
  }

  &.fadeIn {
    animation-name: fadeIn;
    animation-duration: .3s;
  }
}

.popupRect {
  fill: $bg-light;
  stroke: $cr-green;
}


.hidden {
  display: none;
}

:global(canvas) {
  width: 100%;
  height: 100%;
}

.chart3d {
  outline: 0;
}

