// sass-lint:disable brace-style
@import '../../../styles/colors';
@import '../../../styles/vars';
@import '../../../styles/mixins';

$min-width: 100px;

@mixin input-shared {
  background-color: $white;
  font-size: 12px;
  line-height: $size-4x;
  min-width: $min-width;
  outline: 0;
  padding: 0 $size-5x 0 $size-2x;
  width: 100%;
  @content
}

.listSearch {
  position: relative;
  width: 100%;
}

.input {
  @include input-shared {
    border: 1px solid $color-8;
  };
}

.icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: 0;
  position: absolute;
  top: 3px;
  right: 5px;

  path {
    fill: $color-6;
  }
}


.list {
  border: 1px solid $color-8;
  border-top: 0;
  display: block;
  max-height: 400px;
  min-width: 100%;
  overflow-y: scroll;
  position: absolute;
  top: $size-4x;
  width: auto;
  z-index: 100;
}

.listInner {
  display: block;
}

.item {
  align-items: center;
  background-color: $white;
  border: 0;
  border-bottom: 1px solid $color-8;
  color: $black;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  outline: 0;
  padding: $size-1x;
  text-align: left;
  min-width: 100%;

  &.active {
    color: $color-6;
    font-weight: bold;
  }

  &:hover {
    color: $color-7;
  }

  &:focus {
    outline: 0;
  }

  &:last-child {
    border-bottom: 0;
  }

  &.selected {
    color: $color-6;
    font-weight: bold;

    .circle {
      background-color: $color-6;
    }
  }
}

.valuePlacehoder {
  @include input-shared {
    width: calc(100% - 45px);
    padding: 0 0 0 $size-2x;
  }
  overflow: hidden;
  color: $color-6;
  cursor: text;
  font-weight: bold;
  position: absolute;
  white-space: nowrap;
  top: 1px;
  left: 1px;
}

.circle {
  background-color: transparent;
  border: 2px solid $color-6;
  border-radius: 7px;
  display: block;
  height: 14px;
  margin-right: $size-1x;
  width: 14px;
}

.text {
  flex: 1;
}
