$white: #fff;
$black: #000;
$bg-light: #eee;

$gray: #999;
$gray-light: #ccc;

$cr-navy: #27273f;
$cr-pink: #fe6f9c;
$cr-orange: #fc947e;
$cr-blue: #7b8bde;
$cr-green: #52d0da;


$color-1: #f3f4f5;
$color-2: #b7d9d5;
$color-3: #799f9f;
$color-4: #3c5154;
$color-5: #3e5356;
$color-6: #ff625b;
$color-7: #197bc0;
