$white: #fff;
$black: #000;
$bg-light: #eee;

$gray: #999;
$gray-light: #f3f4f5;

$cr-navy: #27273f;
$cr-pink: #fe6f9c;
$cr-orange: #fc947e;
$cr-blue: #7b8bde;
$cr-green: #52d0da;


$color-1: #f3f4f5;
$color-2: #e8ebd8;
$color-3: #b7d9d5;
$color-4: #799f9f;
$color-5: #4f6568;
$color-6: #1f2526;
$color-7: #f45266;
$color-8: #8e8e8e;
$color-9: #25a9ea;
