@import 'colors';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $color-1;
  color: $color-6;
  font-size: 14px;
}

input,
label,
select,
option {
  font-size: 16px;
}
