@import '../../styles/colors';
@import '../../styles/vars';

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header {
  width: 100%;
}

.footer {
  width: 100%;
}

.grid {
  align-items: stretch;
  display: flex;
  flex-direction: row;
}

.panel {
  display: flex;
}

.content {
  flex: 1;
  min-height: calc(100vh - #{$header-height});
}

