@import '../../../styles/colors';
@import '../../../styles/vars';

.trials {
  display: block;
  padding: $size-4x 0;
  background-color: $white;
  width: 1024px;
}

.circle {
  cursor: pointer;
  fill: $cr-blue;

  &.best {
    fill: $cr-orange;
  }

  &.active {
    fill: $cr-green;
  }
}


.grid {
  line {
    stroke: $gray-light;

  }

  path {
    &:first-child {
      display: none;
    }
  }
}

.popup {
  text {
    fill: $cr-blue;
  }
}

.popupRect {
  fill: $gray-light;
  stroke: $gray;
}


.hidden {
  display: none;
}

.svgFillter {
  position: absolute;
  z-index: -1;
}
