@import '../../../styles/colors';
@import '../../../styles/vars';
@import '../../../styles/mixins';

.labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form {
  display: block;
  position: relative;

  width: 100%;
}

.labelInput {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid $color-8;
  margin: $size-4x 0 $size-2x;
  outline: 0;
  padding: 2px 4px;
  width: 100%;
}

.submit {
  background-color: $color-7;
  border: 0;
  border-radius: 10px;
  color: $white;
  line-height: 26px;
  outline: 0;
  padding: 0 $size-2x;
  float: right;
}

.list {
  margin-top: $size-2x;
}

.label {
  @include default-shadow;
  align-items: center;
  background-color: $white;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin-bottom: $size-1x;
  margin-right: $size-1x;
  outline: 0;
  padding: $size-1x $size-4x $size-1x $size-2x;
  position: relative;
  width: auto;
}

.labelRemove {
  &:hover {
    .labelDel {
      path {
        fill: $color-7;
      }
    }
  }
}

.labelDel {
  font-size: 14px;
  margin-left: $size-1x;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);

  path {
    fill: $color-8;
  }
}

.menu {
  @include default-shadow;
  background-color: $white;
  position: absolute;
  left: 0;
  top: 48px;
  width: 100%;
  z-index: 10;
}

.menuItem {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid $gray-light;
  cursor: pointer;
  font-size: 14px;
  padding: $size-1x $size-2x;
  text-align: left;
  width: 100%;

  &:last-child {
    border-bottom: 0;
  }
}
