@import '../../styles/colors';
@import '../../styles/vars';


.icon {
  --icon-color: #{$color-2};
  width: $size-5x;
}

.fillColor {
  path,
  rect {
    fill: var(--icon-color);
  }
}

.strokeColor {
  path,
  rect {
    stroke: var(--icon-color);
  }
}
