@import '../../../styles/colors';
@import '../../../styles/vars';

.chart {
  background-color: $white;
  min-height: 500px;
  padding-top: $size-2x;
  min-width: 1280px;
}

.optionsRow {
  display: flex;
  flex-direction: row;
  padding: $size-2x;
}

.dropdown {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-right: $size-4x;

  strong {
    margin-right: $size-2x;
  }
}

.button {
  border: 0;
  background-color: $color-7;
  border-radius: 14px;
  color: $white;
  cursor: pointer;
  font-weight: bold;
  line-height: 28px;
  padding: 0 $size-2x;
}
