@import '../../styles/colors';
@import '../../styles/vars';

.expList {
  display: flex;
  flex-direction: column;
}

.details {
  margin-top: $size-4x;
}

.list {
  height: 500px;
  margin-top: $size-4x;
  overflow: scroll;
  width: 100;
}

.btn {
  background-color: transparent;
  border: 0;
  color: $color-2;
  cursor: pointer;
  font-size: 18px;
  margin: $size-2x 0;
  outline: 0;
  text-align: left;
  width: 100%;

  &:first-child {
    margin-top: 0;
  }

  &.active {
    color: $white;
    font-size: 20;
    font-weight: bold;
  }
}
