@import '../../styles/colors';
@import '../../styles/vars';

.expList {
  display: flex;
  flex-direction: column;
}

.details {
  margin-top: $size-4x;
}

.list {
  height: 500px;
  margin-top: $size-4x;
  overflow: scroll;
  width: 100;
}

.btn {
  background-color: transparent;
  border: 0;
  color: $white;
  cursor: pointer;
  font-size: 16px;
  margin: $size-1x 0;
  outline: 0;
  text-align: left;
  width: 100%;

  .active {
    $font-weight: bold;
  }
}
