@import '../../styles/colors';
@import '../../styles/vars';

.header {
  align-items: center;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  padding-right: $size-4x;
}

.logo {
  height: $size-9x;
}
.h1 {
  font-size: $size-5x;
  font-weight: bold;
  text-align: left;
  margin-bottom: $size-0x;
}

.h4 {
  font-size: $size-2x;
  text-align: center;
}

.a {
  text-align: right;
  color: #000000;
  padding-bottom: $size-2x;
  background-color: white;
}