@import '../../styles/colors';
@import '../../styles/vars';

@keyframes collapse {
  from {
    max-width: $left-panel-width;
  }

  to {
    max-width: 0;
  }
}

@keyframes expand {
  from {
    max-width: 0;
  }

  to {
    max-width: $left-panel-width;
  }
}

.leftPanel {
  background-color: $color-7;
  color: $white;
  flex: 1;
  position: relative;
}

.outter {
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
  overflow: hidden;

  &.collapse {
    animation-name: collapse;
    max-width: 0;
  }

  &.expand {
    animation-name: expand;
    width: $left-panel-width;
  }
}

.inner {
  padding: $size-5x $size-4x;
  width: $left-panel-width;
}

.h1 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.h4 {
  font-size: 14px;
  text-align: center;
}

.search {
  margin: $size-4x 0;
  position: relative;

  path {
    fill: $color-6;
  }
}

.searchInput {
  border: 0;
  background-color: $white;
  height: 40px;
  padding: 0 $size-6x 0 $size-2x;
  outline: 0;
  width: 100%;
}

.title {
  border: 0;
  height: 40px;
  padding: 0 $size-6x 0 $size-2x;
  outline: 0;
  width: 100%;
  font-size: 20px;
}

.icon {
  position: absolute;
  right: $size-1x;
  top: 50%;
  transform: translateY(-50%);
}

.searchClearBtn {
  background-color: transparent;
  border: 0;
  right: $size-1x;
  top: 5px;
  padding: 0;
}

.button {
  background-color: $white;
  border: 0;
  position: absolute;
  width: 30px;
  height: 40px;
  top: $size-1x;
  right: -30px;
}
