@import '../../styles/colors';
@import '../../styles/vars';

.leftPanel {
  background-color: $color-4;
  color: $white;
  height: calc(100vh - #{$header-height});
  padding: $size-5x $size-4x;
  width: $left-panel-width;
}

.h1 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.h4 {
  font-size: 14px;
  text-align: center;
}

.search {
  margin: $size-4x 0;
}

.searchInput {
  border: 0;
  background-color: $white;
  height: 40px;
  padding: 0 $size-2x;
  outline: 0;
  width: 100%;
}
