@import '../../styles/colors';
@import '../../styles/vars';

.leftPanel {
  background-color: $color-7;
  color: $white;
  height: calc(100vh - #{$header-height});
  padding: $size-5x $size-4x;
  width: $left-panel-width;
}

.h1 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.h4 {
  font-size: 14px;
  text-align: center;
}

.search {
  margin: $size-4x 0;
  position: relative;

  path {
    fill: $color-6;
  }
}

.searchInput {
  border: 0;
  background-color: $white;
  height: 40px;
  padding: 0 $size-6x 0 $size-2x;
  outline: 0;
  width: 100%;
}

.icon {
  position: absolute;
  right: $size-1x;
  top: 50%;
  transform: translateY(-50%);
}

.searchClearBtn {
  background-color: transparent;
  border: 0;
  right: $size-1x;
  top: 5px;
  padding: 0;
}
