@import '../../../styles/vars';
@import '../../../styles/mixins';
@import '../../../styles/colors';

$btn-size: 30px;

.rangeSlider {
  cursor: pointer;
  display: block;
  height: 30px;
  padding-left: $btn-size;
  padding-right: $btn-size;

  // sass-lint:disable no-vendor-prefixes
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  // sass-lint:enable no-vendor-prefixes
  user-select: none;
}

.sliderInner {
  height: $btn-size;
  padding-top: 13px;
  position: relative;
  width: 100%;
}

.line {
  background-color: $border-light-gray;
  display: block;
  height: 3px;
  width: 100%;
}

.lineDark {
  @include transition('left, width', .3s);
  background-color: $border-dark-gray;
  display: block;
  height: 3px;
  position: absolute;
  top: 13px;
  width: 2px;
}

.btn {
  align-items: center;
  background-color: $white;
  border: 1px solid $border-dark-gray;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 30px;
  justify-content: space-evenly;
  padding: 0 2px;
  position: absolute;
  top: 0;
  user-select: none;
  width: 30px;

  &.left {
    left: 0;
    transform: translateX(-100%);
  }

  &.rigth {
    left: 100%;
  }
}

.valueLabel {
  cursor: pointer;
  font-size: 13px;
  left: 50%;
  position: absolute;
  top: 30px;
  transform: translateX(-50%);
}

.btnIconLine {
  background-color: $border-dark-gray;
  display: block;
  height: 16px;
  margin: 1px;
  width: 1px;
}
