@import '../../../styles/vars';
@import '../../../styles/mixins';
@import '../../../styles/colors';

$btn-size: 30px;

.rangeSlider {
  display: block;
  height: 30px;
  padding-top: 13px;
  position: relative;
}

.line {
  background-color: $border-light-gray;
  display: block;
  height: 3px;
  margin-left: calc(#{$btn-size} / 2);
  width: calc(100% - #{$btn-size});
}

.btn {
  @include transition('left', .2);
  background-color: $white;
  border: 1px solid $border-light-gray;
  height: 30px;
  position: absolute;
  top: 0;
  width: 30px;

  &.left {
    left: 0;
  }

  &.rigth {
    right: 0;
  }
}

.valueLabel {
  font-size: 13px;
  left: 0;
  position: absolute;
  top: 30px;
}
