@import '../../styles/colors';
@import '../../styles/vars';

.footer {
    align-items: center;
    background-color: $white;
    justify-content: space-between;
    padding-top: $size-2x;
}
.logo {
    height: $size-10;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.h1 { 
    font-size: $size-5x;
    font-weight: bold;
    text-align: center;
}