// sass-lint:disable brace-style
@import '../../../styles/colors';
@import '../../../styles/vars';
@import '../../../styles/mixins';

$min-width: 100px;

@mixin input-shared {
  background-color: transparent;
  font-size: 12px;
  line-height: $size-4x;
  min-width: $min-width;
  outline: 0;
  padding: 0 $size-5x 0 $size-2x;
  width: 100%;
  @content
}

.listSearch {
  position: relative;
  width: 100%;
}

.input {
  @include input-shared {
    border: 1px solid $color-1;
  };
}

.icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: 0;
  position: absolute;
  top: 6px;
  right: 5px;

  path {
    fill: $color-3;
  }
}


.list {
  border: 1px solid $color-1;
  border-top: 0;
  display: block;
  max-height: 400px;
  min-width: 100%;
  overflow-y: scroll;
  position: absolute;
  top: $size-4x;
  width: auto;
  z-index: 100;
}

.item {
  background-color: $white;
  border: 0;
  color: $black;
  cursor: pointer;
  font-size: 12px;
  line-height: $size-5x;
  outline: 0;
  padding: 0 $size-1x;
  text-align: left;
  width: 100%;

  &.active {
    color: $color-4;
    font-weight: bold;
  }

  &:hover {
    color: $color-4;
  }

  &.selected {
    color: $color-4;
    font-weight: bold;
  }
}

.valuePlacehoder {
  @include input-shared {
    width: calc(100% - 45px);
    padding: 0 0 0 $size-2x;
  }
  overflow: hidden;
  color: $color-4;
  cursor: text;
  font-weight: bold;
  position: absolute;
  white-space: nowrap;
  top: 1px;
  left: 0;
}
